* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #CEEBF8; }

nav {
  background-color: #CEEBF8;
  display: flex;
  justify-content: center;
  align-items: center; }
  nav ul {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none; }
    nav ul li {
      padding: 10px 20px; }
      nav ul li a {
        text-decoration: none;
        color: black;
        font-family: 'Urbanist', sans-serif;
        font-weight: bold;
        font-size: 20px; }
      nav ul li img {
        width: 40px; }

.banner {
  position: relative;
  top: 0;
  display: flex;
  margin: auto; }

body {
  background-color: #3DA3C6;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  min-height: 100vh; }

.texto {
  margin: 40px; }

h1 {
  font-family: 'Urbanist', sans-serif;
  text-align: center;
  color: white; }

h2 {
  font-family: 'Urbanist', sans-serif;
  text-align: center;
  color: white; }

h3 {
  font-family: 'Urbanist', sans-serif;
  font-weight: 100;
  text-align: center;
  color: white; }

p {
  font-family: 'Urbanist', sans-serif;
  text-align: center;
  color: white; }

footer {
  display: flex;
  width: 100%;
  text-align: center;
  margin-top: auto; }

.pie {
  display: flex;
  background-color: #CEEBF8;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 75px; }

.pie img {
  margin: 20px; }
