* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #CEEBF8;
  display: flex;
  width: 100%;
  margin-top: auto;
  flex-direction: column; }

nav {
  background-color: #CEEBF8;
  display: flex;
  justify-content: center;
  width: 100%; }
  nav ul {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none; }
    nav ul li {
      padding: 10px 20px; }
      nav ul li a {
        text-decoration: none;
        color: black;
        font-family: 'Urbanist', sans-serif;
        font-weight: bold;
        font-size: 20px; }
      nav ul li img {
        width: 40px; }

.offcanvas-body {
  background-color: #CEEBF8; }

.banner {
  position: relative;
  top: 0;
  display: flex;
  margin: auto; }

.banner-mascota {
  position: relative;
  display: flex;
  margin: auto; }

body {
  background-color: #3DA3C6;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.texto {
  margin: 40px; }

h1 {
  font-family: 'Urbanist', sans-serif;
  text-align: center;
  color: white;
  font-size: 35px; }

h2 {
  font-family: 'Urbanist', sans-serif;
  text-align: center;
  color: white; }

h3 {
  font-family: 'Urbanist', sans-serif;
  font-weight: 100;
  text-align: center;
  color: white; }

h4 {
  font-family: 'Urbanist', sans-serif;
  font-weight: 80;
  text-align: center;
  color: white; }

p {
  font-family: 'Urbanist', sans-serif;
  text-align: center;
  color: white; }

.galeria {
  display: flex;
  padding: 5px; }

.columna {
  flex: 33%;
  padding: 5px; }
  .columna img {
    width: 100%;
    margin-top: 5px; }

.seccion-jugadoras {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 15px;
  background-color: #3DA3C6;
  align-items: center;
  justify-content: center; }

.card {
  position: relative;
  width: 300px;
  height: 500px;
  background-color: #358dab;
  border-radius: 5px;
  overflow: hidden;
  margin: 15px 20px; }

.card .head-card {
  height: 125px;
  width: 100%;
  position: relative; }

.card .head-card .circle {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  color: #2b738a;
  bottom: 0; }

.card .head-card .img-card {
  width: 150px;
  height: 150px;
  position: absolute;
  padding: 5px;
  border-radius: 50%;
  bottom: -30%;
  left: 50%;
  transform: translate(-50%); }

.card .head-card .img-card img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover; }

.card .descripcion {
  height: 200px;
  padding: 40px 20px 20px 20px;
  text-align: center;
  margin-top: 20px;
  font-size: 15px; }

.card .seguir {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: center; }

.card .seguir a {
  text-decoration: none;
  color: white;
  background-color: #2b738a;
  padding: 5px 15px;
  border-radius: 5px;
  font-family: 'Urbanist', sans-serif; }

.post-list {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 30px 15px;
  margin: 5px; }

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "post-1 post-2 post-3";
  grid-gap: 20px;
  margin: 20px;
  width: 100%;
  column-gap: 20px; }

.post-img-1 {
  width: 100%;
  height: 200px; }

.post {
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.1);
  background-color: #358dab; }

.post-header {
  width: 100%;
  height: 200px;
  cursor: pointer; }

.post-body {
  padding: 15px;
  text-align: center; }

.post-body span {
  display: inline-block;
  color: rgba(0, 0, 0, 0.657);
  margin-bottom: 10px; }

.post-body h2 {
  margin-bottom: 15px; }

.post-body p {
  margin-bottom: 20px; }

.post-body .post-link {
  text-decoration: none;
  display: block;
  padding: 10px;
  background-color: #2b738a;
  color: white;
  width: 50%;
  margin: auto;
  border-radius: 20px; }

.body-noticias {
  display: grid;
  background-color: #3DA3C6;
  position: absolute;
  min-height: 100vh;
  justify-content: center;
  min-height: 100vh; }

.post-1 {
  grid-area: post-1; }

.post-2 {
  grid-area: post-2; }

.post-3 {
  grid-area: post-3; }

form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  color: white; }

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px; }

.col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.info-mundial {
  padding: 40px;
  display: flex;
  flex-direction: column;
  margin: auto; }

.sedes {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: auto; }

.balon {
  padding: 40px;
  margin: auto; }

.balon img {
  display: flex;
  flex-direction: column; }

.balon img {
  position: relative;
  top: 0;
  display: flex;
  margin: auto; }

.fixture {
  padding: 40px; }

.fixture img {
  width: 100%; }

.fase-grupos {
  display: grid;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: flex-start;
  grid-template-areas: "grupoa grupob grupoc grupod" "grupoe grupof grupog grupoh"; }

.grupoa {
  grid-area: grupoa;
  margin: 5px; }

.grupob {
  grid-area: grupob;
  margin: 5px; }

.grupoc {
  grid-area: grupoc;
  margin: 5px; }

.grupod {
  grid-area: grupod;
  margin: 5px; }

.grupoe {
  grid-area: grupoe;
  margin: 5px; }

.grupof {
  grid-area: grupof;
  margin: 5px; }

.grupog {
  grid-area: grupog;
  margin: 5px; }

.grupoh {
  grid-area: grupoh;
  margin: 5px; }

.grupos-finales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

footer {
  display: flex;
  width: 100%;
  text-align: center;
  margin-top: auto; }

.pie {
  display: flex;
  background-color: #CEEBF8;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 75px; }

.pie img {
  margin: 20px; }

@media (max-width: 768px) {
  .pie {
    gap: 5px; }
  .container-grid {
    display: grid;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "item1 item4 item2" "item3 item3 item3" "item5 item6 item7"; }
  form {
    width: 100%; } }

@media (max-width: 428px) {
  nav ul {
    height: 230px;
    flex-direction: column;
    text-align: center;
    margin: 50px; } }

@media (max-width: 428px) {
  .fase-grupos {
    grid-template-areas: "grupoa"  "grupob"  "grupoc" "grupod" "grupoe"  "grupof"  "grupog" "grupoh"; } }
