.banner{
    position: relative;
    top: 0;
    display: flex;
    margin: auto;
}

body{
    background-color: #3DA3C6;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    min-height: 100vh;
}

.texto{
    margin: 40px;
}

h1{
    font-family: 'Urbanist', sans-serif;
    text-align: center;
    color: white;
}

h2{
    font-family: 'Urbanist', sans-serif;
    text-align: center;
    color: white;
}

h3{
    font-family: 'Urbanist', sans-serif;
    font-weight: 100;
    text-align: center;
    color: white;
}

p{
    font-family: 'Urbanist', sans-serif;
    text-align: center;
    color: white;
}

// .container-grid{
//     display: grid;
//     width: 100%;
//     margin: 10px;
//     justify-content: center;   
//     align-items: center; 
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-rows: repeat(3, 1fr);
//     grid-template-areas: 
//     "item1 item4 item2"
//     "item3 item3 item3"
//     "item5 item6 item7"
//     ;
// }



.galeria {
    display: flex;
    padding: 5px;
}

.columna {
    flex: 33%;
    padding: 5px;
    img {
        width: 100%;
        margin-top: 5px;
    };
}

.item1{
    grid-area: item1;
    margin: 5px;
}
.item2{
    grid-area: item2;
    margin: 5px;
}
.item3{
    grid-area: item3;
    margin: 5px;
    align-content: center;
}
.item4{
    grid-area: item4;
    margin: 5px;
}
.item5{
    grid-area: item5;
    margin: 5px;
}
.item6{
    grid-area: item6;
    margin: 5px;
}
.item7{
    grid-area: item7;
    margin: 5px;
}

.container-grid img{
    width: 95%;
}