@media (max-width:428px) {
    nav ul{
        height: 230px;
        flex-direction: column;
        text-align: center;
        margin: 50px;
    }
}

@media (max-width:428px) {
    .fase-grupos{
        grid-template-areas: 
        "grupoa" 
        "grupob" 
        "grupoc"
        "grupod"
        "grupoe" 
        "grupof" 
        "grupog"
        "grupoh"
        ;
    }
}